@charset "UTF-8";
#todolistHeader {
	margin-top: 2em;
	margin-bottom: 1em;
	text-align: center;
	font-weight: 100;
}

#enter {
	text-align: center;
	font-size: 1.5em;
	font-weight: 100;
}

#inputText {
	width: 100%;
	height: 2.5em;
}

#todolist, #donelist {
	list-style: none;
	width: 100%;
	height: 2.5em;
}

input[type="checkBox"] {
	width: 20px;
	height: 20px;
	border: 2px solid #bcbcbc;
	background-color: inherit;
}

#todolist li {
	border-left: 5px solid #ddebf1;
	border-bottom: 1px dashed #ccc;
	margin-bottom: 4px;
	width: 100%;
	height: 2.5em;
	padding: 5px 10px;
	cursor: pointer;
	color: #696969;
	/*background-color: #F1F1F1;*/
}

#donelist li {
	border-left: 5px solid #f7d4d4;
	border-bottom: 1px dashed #ccc;
	margin-bottom: 4px;
	width: 100%;
	height: 2.5em;
	padding: 5px 10px;
	cursor: pointer;
	color: #D3D3D3;
	font-weight: bold;
}

#todolist li span {
	font-size: 1.2em;
	font-weight: 200;
	padding-left: 10px;
	vertical-align: middle;
}
#todolist li span {
	font-size: 1.2em;
	font-weight: 200;
	padding-left: 10px;
	vertical-align: middle;
}
#donelist li span {
	font-size: 1.2em;
	font-weight: 200;
	padding-left: 10px;
	vertical-align: middle;
	text-decoration: line-through;
	color: #D3D3D3;
}

/* ul { */
/* 	list-style: none; */
/* 	padding: 0; */
/* 	margin: 0; */
/* 	width: 500px; */
/* } */

.checked {
	text-decoration: line-through;
	color: #fbe4e4;
	font-weight: bold;
}

.fas fa-pencil-alt {
	float: right;
	padding: 5px;
	visibility: hidden;
}

.fas fa-eraser {
	float: right;
	padding: 5px;
}