@charset "UTF-8";

	body {
	   margin: 0; 
	   font-family: 'Nanum Gothic', sans-serif;

	}
	#mainLayout-wrap {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}

        /* .wrap .header {
            display: flex;
            flex-direction: column;
            position: relative;
            height: 10%; 
        } */

	#main_wrap {
		flex: 1;
		display: flex;
		height: 100%;
	}
	#mainLayout-wrap .main_wrap .sidebar {
		width: 240px;
	}
	#mainLayout-wrap .main_wrap .main {
		flex: 1;
		overflow-x: scroll;
		overflow-y: auto;
	}

/* header */
	#main-header .navbar {
		padding: .01rem 1rem;
	}
	#main-header .navbar .navbar-brand, .header .navbar div ul li * {
		color: #3a4651;
	}
/* bell profile */
	#main-header .header-block-nav .nav-profile li {
		display: table-cell;
	}
        
/* sidebar */
	#main-sidebar {
		background: linear-gradient(to bottom, #001133, black);
	}


	#main-sidebar  .nav-item a {
		color: rgba(255,255,255); 
		padding-top: 15px; 
		padding-bottom: 15px; 
		padding-left: 20px; 
		padding-right: 15px;

	}

	.bell-small-row {
		padding: 0;
	}
	
	
	