@charset "UTF-8";


/* body { */
/*     overflow-x: hidden; */
/* } */

/* layout */
#header {
    height: 3rem;
    background: rgb(32, 96, 170);
}


#session > .row {
    margin-left: 0;
    margin-right: 0;
}
#session01 {
    /* padding-left: 8.5rem;
    padding-right: 2rem;
    margin-left: -6rem;  */
    padding: 0;
    background: #323739;
}
#session02 {
   padding: 2rem;
}
footer > #sitemap{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-right: 10%;
    padding-left: 10%;
}


footer > #copyright{
    height: 5rem;
    background: #323739;
    color: white;
}
/* end layout */


/* left-side and navbar */
.nav-sub-item {
    color: white;
    margin-bottom: 10px;
}
.navbar .nav-item {
    margin-bottom: 5px;
}
.navbar .nav-item .nav-link {
    color: white;
}
/* end left-side and navbar */


/* navbar */
.bd-navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1071;
}
/* end navbar */


/* left-side */
#nav {
    padding-top: 20% ;
    padding-left: 20% ;
    padding-right: 20% ;
    flex-direction: column;
}
.bd-sidebar {
    position: -webkit-sticky;
    position: sticky;

    /* header 3rem ( top 0 , height 3rem 사이즈 ) */
    top: 3rem;
    z-index: 1000;
}
@media (max-width: 768px) {
    #nav {
        padding: 1%;
    }
}
@media (min-width: 768px) {

    .bd-sidebar {
        height: calc(100vh - 4rem);
    }
}
#collapsibleNavId  {
    flex-grow: 0px;
    flex-direction: column;

    width: 100%;
}
#collapsibleNavId .navbar-nav{
    width: 10em;
    flex-direction: column;
}
#collapsibleNavId > ul {
    width: 100% !important;
    text-align: center;
}
#collapsibleNavId > ul > li {
    width: 12rem;
}
@media (max-width: 768px) {
	#collapsibleNavId > ul > li {
	    width: 100%;
	}
}
#collapsibleNavId > ul > li > a {
    border-bottom: 1px solid gray;
    padding: 1px .5rem 1rem 0rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-family: 맑은고닉;
    font-weight: bold;
    text-align: left;
}
.nav-sub-item {
    font-family: 맑은고닉;
    display: block;
    text-align: right;
    color: lightgray;
}
/* end left-side */

